<!-- Footer -->
<footer class="footer">
    <div class="content has-text-centered">
        <p>
            <b>{{ APP_NAME }}</b> &copy; {{ date('now')|date('Y') -}}. Built with <a href="https://bulma.io">Bulma</a>.
        </p>
    </div>
</footer>
