<!-- Footer -->
<footer class="footer">
    <div class="content has-text-centered">
        <p>
            <b>{{ APP_NAME }}</b> &copy; {{ date('now')|date('Y') -}}. Built with <a href="https://symfony.com/" target="_blank">Symfony</a>, <a href="https://www.doctrine-project.org/" target="_blank">Doctrine</a> and curiosity.
        </p>
    </div>
</footer>
