{% extends 'crud_bulma.html.twig' %}

{% block page_title %}{{ pageTitle|default('Info') }}{% endblock %}


{% block crud_main_contents %}
    <div class="content">

        <h1 class="title">{{ pageTitle|default('Info') }}</h1>

        {% if currentUsage is defined %}
            <h2>Disk Usage</h2>
            <ul>
                <li>
                    <strong>Upload data</strong>:&nbsp;{{- currentUsage.totalFiles|human_filesize -}}
                </li>
                <li>
                    <strong>Database files</strong>:&nbsp;{{- currentUsage.totalDbFilesize|human_filesize -}} <button id="db-space-usage-info"><i class="fa-solid fa-circle-info has-text-primary"></i></button>
                </li>
            </ul>
        {% endif %}
        {#        <h2>PicoShare Version</h2> #}
        {#        <ul> #}
        {#            <li><strong>Version</strong>: 1.5.1</li> #}
        {#            <li> #}
        {#                <strong>Built at</strong>: #}
        {#                2025-08-24 14:24:58 +0000 #}
        {#            </li> #}
        {#        </ul> #}
    </div>
{% endblock %}
