{% extends 'base_bulma.html.twig' %}

{% block title %}Hello InfoController!{% endblock %}

{% block body_main_sections %}
    <section class="section">
        <div class="container">
            <h1>Hello {{ controller_name }}! ✅</h1>

            This friendly message is coming from:
            <ul>
                <li>Your controller at <code>C:/Users/vLight/Programming/PHP/picoshare-symfony/src/Controller/InfoController.php</code>
                </li>
                <li>Your template at <code>C:/Users/vLight/Programming/PHP/picoshare-symfony/templates/info/index.html.twig</code>
                </li>
            </ul>
        </div>
    </section>
{% endblock %}
