<section>
    <h2 class="title">Uploading&hellip;</h2>
    <progress class="progress is-small is-primary" max="100" {%- if currentValue|default -%}value="{{- currentValue -}}"{% endif %}>??%</progress>
</section>
