{% extends 'base_bulma.html.twig' %}

{% block page_title %}Uploaded!{% endblock %}

{% block stylesheets -%}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@7.1.0/css/fontawesome.min.css" integrity="sha256-G5bovI+uHM2gCO6EwO9PFQcclSBYzTaxY6DXks3YxBU=" crossorigin="anonymous">
{%- endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@7.1.0/js/all.min.js" integrity="sha256-Z6/mj/QZDUfTjL6nkq7pwkHNZpkVY8Xk8Appn4bTLXs=" crossorigin="anonymous"></script>
{% endblock %}

{% block body_main_sections %}
    <section class="section">
        <div class="container">
            {% include 'upload/upload_success_section.html.twig' with {
                entryUniqId: entryUniqId,
                entryFilename: entryFilename,
                showEditBtn: is_granted('ROLE_ADMIN'),
                showUploadAnotherBtn: showUploadAnotherBtn,
            } only %}
        </div>
    </section>
{% endblock %}
