{% extends 'base_bulma.html.twig' %}

{% block page_title %}{{- pageTitle|default('Upload a File') -}}{% endblock %}

{% block stylesheets -%}
    {{- parent() -}}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@7.1.0/css/fontawesome.min.css" integrity="sha256-G5bovI+uHM2gCO6EwO9PFQcclSBYzTaxY6DXks3YxBU=" crossorigin="anonymous">
{%- endblock %}

{% block javascripts %}
    {{- parent() -}}
    <script src="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@7.1.0/js/all.min.js" integrity="sha256-Z6/mj/QZDUfTjL6nkq7pwkHNZpkVY8Xk8Appn4bTLXs=" crossorigin="anonymous"></script>
{% endblock %}


{% block body_main_sections %}
    <section class="section">
        <div class="container">
            {% if form|default %}
                <div id="main-form-wrapper">
                    {% if pageTitle|default %}
                        <h2 class="title">{{- pageTitle -}}</h2>
                    {% endif %}
                    {% include 'upload/_partials/_form_upload_file.html.twig' with {
                        form: form,
                        showSubmitBtn: showSubmitBtn,
                        pageTitle: false
                    } only %}
                </div>
                {% if showProgressBar|default %}
                    {% include 'upload/_partials/_upload_progress_bar.html.twig' with { currentValue: 0 } only %}
                {% endif %}
            {% endif %}
        </div>
    </section>
{% endblock %}
