{% extends 'base_bulma.html.twig' %}

{% block page_title %}{{- pageTitle|default('Upload a File') -}}{% endblock %}


{% block body_main_sections %}
<section class="section">
    <div class="container">
        {% if prevUploadSucceed|default %}
            {% include 'upload/upload_success_section.html.twig' with {
                entryUniqId: entryUniqId,
                entryFilename: entryFilename,
                showEditBtn: is_granted('ROLE_ADMIN'),
                showUploadAnotherBtn: true,
            } only %}
        {% elseif form|default %}
            {% if pageTitle|default %}
                <h2 class="title">{{- pageTitle -}}</h2>
            {% endif %}
            {% include 'upload/_partials/_form_upload_file.html.twig' with {
                form: form,
                showSubmitBtn: showSubmitBtn,
                pageTitle: false
            } only %}

            {% if showProgressBar|default %}
                {% include 'upload/_partials/_upload_progress_bar.html.twig' with { currentValue: 0 } only %}
            {% endif %}
        {% endif %}
    </div>
</section>
{% endblock %}
