{% extends 'base_bulma.html.twig' %}

{% block body_main_sections %}
    <!-- Main content wrapper for sticky footer layout -->
    <main class="main-content">
        <!-- Main Content -->
        <section class="section">
            <div class="container">
                <div class="columns is-centered">
                    <div class="column is-6-tablet is-5-desktop is-4-widescreen">
                        <div class="box">
                            <!-- Title -->
                            <div class="has-text-centered mb-5">
                                <h1 class="title is-4">Enter Passphrase</h1>
                            </div>

                            <!-- Password Form -->
                            <form action="{{- path('pico_admin_login') -}}" method="POST">
                                {% if error %}
                                    <div class="notification is-danger is-light">
                                        {{ error.messageKey|trans(error.messageData, 'security') }}
                                    </div>
                                {% endif %}
                                <fieldset>
                                    <!-- Password Field -->
                                    <div class="field">
{#                                        <label class="label" for="password">Passphrase</label>#}
                                        <div class="control">
                                            <input class="input" type="password" name="_password" id="password"
                                                   placeholder="Passphrase" autocomplete="current-password" autofocus
                                                   required>
                                        </div>
                                    </div>

                                    <div class="hidden-field">
                                        <input type="hidden" name="_csrf_token" data-controller="csrf-protection"
                                               value="{{ csrf_token('authenticate') }}"/>
                                        <input type="hidden" value="{{ last_username }}" name="_username" id="username"
                                               required/>
                                    </div>

                                    <div class="field">
                                        <div class="control">
                                            <button class="button is-primary is-fullwidth" type="submit" {% if app.debug %}formnovalidate{% endif %}>
                                                Submit
                                            </button>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
