{% extends 'base_bulma.html.twig' %}

{% block page_title %}
    {%- if is_granted('ROLE_ADMIN') or guestLinkUniqId|default -%}
    {{- pageTitle|default('Upload') -}}
    {%- endif -%}
{% endblock %}


{% block body_main_sections %}
    <section class="section">
        <div class="container">
            {% if is_granted('ROLE_ADMIN') %}
                {{- render_esi(controller('App\\Controller\\UploadController::upload', { 'inline_form': true })) -}}
            {% else %}
                {{- render_esi(controller('App\\Controller\\PublicPagesController::singleBlockSectionAbout', {})) -}}
            {% endif %}
        </div>
    </section>
{% endblock %}
